.DS_Store
/.build
/.swiftpm
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
bbqrFFI.xcframework.zip
libbbqrffi.a
bbqrFFI.h

/bbqrFFI.xcframework/**/bbqrFFI
